matplotlib~=3.9.2
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
python-dotenv==1.0.1
requests
scanpy==1.10.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
streamlit==1.37.1
gdown==5.2.0
leidenalg==0.10.2
jupyter==1.1.1
python-igraph
anndata~=0.10.8
pymysql~=1.1.1