altair==5.4.0
anndata==0.10.8
anyio
argon2-cffi
argon2-cffi-bindings
array_api_compat==1.8
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker==1.8.2
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
comm
configparser==7.1.0
contourpy==1.2.1
cycler==0.12.1
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools==4.53.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
h5py==3.11.0
idna==3.8
ipykernel
ipython
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver==1.4.5
legacy-api-wrap==1.4
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mistune
mysqlclient
narwhals==1.5.5
natsort==8.4.0
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.3
notebook
notebook_shim
numba==0.60.0
numpy==1.26.4
overrides
packaging
pandas==2.2.2
pandocfilters
parso
patsy==0.5.6
pexpect
pillow==10.4.0
platformdirs
prometheus-client
prompt-toolkit
protobuf==5.27.3
psutil
ptyprocess
pure-eval
pyarrow==17.0.0
pycparser
pydeck==0.9.1
Pygments==2.18.0
PyMySQL==1.1.1
pynndescent==0.5.13
pyparsing==3.1.2
PySocks
python-dateutil
python-dotenv==1.0.1
python-json-logger
pytz
PyYAML
pyzmq
referencing==0.35.1
requests
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py==0.20.0
scanpy==1.10.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
Send2Trash
session_info==1.0.0
six
smmap==5.0.1
sniffio
soupsieve
SQLAlchemy==2.0.32
stack-data
statsmodels==0.14.2
stdlib-list==0.10.0
streamlit==1.37.1
tenacity==8.5.0
terminado
threadpoolctl==3.5.0
tinycss2
toml==0.10.2
tornado
tqdm==4.66.5
traitlets
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.6
urllib3
watchdog==4.0.2
wcwidth
webencodings==0.5.1
websocket-client
